body {
    opacity: 0;
    animation: fadeInAnimation 1.5s forwards;
    padding-top: 70px;
    background-color: rgba(255, 218, 185, 0.8);
    background-image: url('back.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    color: #d4c32c;
  }
  
  .fixed-top {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
  }

  .intro {
    font-family: 'Oregano', cursive;
    font-family: 'Space Mono', monospace;
    text-align: center;
    padding: 50px 0;
  }
  
  .intro h1 {
    font-size: 36px;
  }

  .content h2{
    font-family: 'Oregano', cursive;
    font-family: 'Space Mono', monospace;
  }

  .container p, .skill-link {
    font-family: 'Arapey', serif;
    font-size: 17px;
    text-align: left;
    letter-spacing: 1px;
  }

  .profile-photo {
    width: 150px;
    height: 150px;
    border: 5px solid rgb(171, 213, 255);
    transition: transform 0.3s ease;
  }
  
  .profile-photo:hover {
    transform: rotate(360deg);
  }

  .social-links {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
  
  .social-links img {
    margin: 0 10px;
    opacity: 0.7;
    transition: opacity 0.3s ease;
  }
  
  .social-links img:hover {
    opacity: 1;
  }

  .transparent-navbar {
    background-color: rgb(0, 173, 181, 0.1);
  }

  .content {
    margin-bottom: 40px 0;
  }

  .bg-light-transparent {
    background-color: rgba(255, 255, 255, 0.7); /* Light transparent white */
    padding: 20px;
    border-radius: 10px;
  }

  #skills .container,
 #projects .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 173, 181);
}

#projects {
    margin-bottom: 30px; /* Adjust as needed */
  }

  .links{
    margin: auto;
    color: #001C30;
  }

  #contact-me {
    color: rgb(0, 28, 48);
    font-family: 'Arapey', serif; /* Change to your desired color */
  }
  .container{
    color: rgb(0, 173, 181);
  }

  .social-links .links{
    font-size: 18px;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
    }
  }

  @keyframes blinkAnimation {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  
  .blink {
    animation: blinkAnimation 1s infinite;
  }
  
  .navbar #heading{
    color: rgb(0, 28, 48);
  }

.navbar #navbarNav .nav-link{
  color:rgb(0, 28, 48);
  font-family: 'Bangers', cursive;
}
  .navbar-brand{
    font-family: 'Cinzel Decorative', cursive;
    letter-spacing: 5px;
    font-weight: bold;
  }

.social-links .links{
  font-family: 'Arapey', serif;
}

.container {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 1s ease, transform 1s ease;
}

.animate-motion {
  opacity: 1;
  transform: translateY(0);
}